{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leave Request</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'styles/style.css' %}"
    />
  </head>
  <body>
    <header>
      <div class="container">
        <h3>Leave Management</h3>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li>
              <a class="current" href="../leaverequest/submit">Leave Request</a>
            </li>
            <li>
              <a class="current" href="../leaverequest/alldetails"
                >Request Details</a
              >
            </li>
            <li><a href="/admin">admin</a></li>
            <li><a href="../login/logout">Logout</a></li>
            {% else %}
            <li><a href="../login/login">Login</a></li>
            <li><a href="../login/register">register</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <div class="login">
      <form action="" method="POST">
        {% csrf_token %}
        <div class="center">
          <input type="text" name="name" placeholder="Student Name" /><br />
          <input type="text" name="phone" placeholder="Phone Number" /><br />
          <input type="email" name="email" placeholder="Email" /><br />
          <input type="text" name="regno" placeholder="Register Number" /><br />

          <label for="dept">Department</label>
          <select name="dept" id="cars">
            <option value="MCT">MCT</option>
            <option value="ECE">ECE</option>
            <option value="EEE">EEE</option>
            <option value="CSE">CSE</option></select
          ><br />
          <p>Please select your year:</p>
          <input type="radio" name="year" value="1st Year" />
          <label for="1st Year">1st Year</label><br />
          <input type="radio" name="year" value="2nd Year" />
          <label for="2nd Year">2nd Year</label><br />
          <input type="radio" name="year" value="3rd Year" />
          <label for="3rd Year">3rd Year</label><br />
          <input type="radio" name="year" value="4th Year" />
          <label for="4th Year">4th Year</label><br />
          Leave Reason:<br />
          <textarea name="reason"></textarea><br />
          <label>Start Date:</label>
          <input type="date" name="startDate" /><br />
          <label>End Date:</label>
          <input type="date" name="endDate" /><br />
          <input type="submit" />
        </div>
      </form>
    </div>
    <div>{% for message in messages %} {{message}} {% endfor %}</div>
  </body>
</html>
