{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login4</title>
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'styles/style.css' %}"
  />

  </head>
  <body>
    <header>
      <div class="container">
        <h3>Leave Management</h3>
        <nav>
          <ul>
            {% if user.is_authenticated %}
            <li>
              <a href="../leaverequest/submit">Leave Request</a>
            </li>
            <li>
              <a class="current" href="../leaverequest/alldetails"
                >Request Details</a
              >
            </li>
            <li><a href="/admin">admin</a></li>
            <li><a href="../login/logout">Logout</a></li>
            {% else %}
            <li><a class="current" href="../login/login">Login</a></li>
            <li><a href="../login/register">register</a></li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    <div class="login">
    <form action="login" method="POST">
      {% csrf_token %}
      <div class="center">
      <input type="text" name="username" placeholder="username" /><br />
    </div>
    <div class="center">
      <input type="password" name="password" placeholder="Password" /><br /></div>
      <div class="center">
      <button type="submit" />Submit</form></div>
    </form>
  </div>
    {% for message in messages %} {{message}} {% endfor %}
  </body>
</html>
